
body {
    background-color: white;
}

#header {
    color: black;
    margin-bottom: 10px;
    padding-bottom: 4px;
    padding-top: 4px;
}

#left-bar {
    color: black;
    width: 200px;
    height: 300px;
    margin-top: 6px;
    padding-top: 4px;
}

.left-aligned {
    border: thin solid;
    margin-left: 4px;
    padding-left: 16px;
}
